@import '~antd/es/style/themes/default.less';


@media (min-width: @screen-md-min) {
  .container {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }

  .content {
    padding: 32px 0 24px;
  }
}

.container {
  display: flex;
  background-color: @layout-body-background;
  flex-direction: column;
  height: 100vh;
}

.lang {
  text-align: right;
  height: 40px;
  line-height: 44px;

  :global(.ant-dropdown-trigger) {
    margin-right: 24px;
  }
}

.content {
  flex: 1;
  padding: 32px 0;
}

.top {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 33px;
  font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.logo {
  vertical-align: middle;
  height: 40px;
  margin-right: 16px;
}

.desc {
  margin-top: 12px;
  margin-bottom: 40px;
  color: @text-color-secondary;
  font-size: @font-size-base;
}
